:root {
    --color-bg: #121212;
    --color-border: #4E4E50;
    --color-h1: #FFFFFF;
    --color-base: #E0E0E0;
    --color-base2: #A0A0A0;
    --color-primary: #4A90E2;
    --color-primary-hover: #357ABD;
    --color-secondary: #F4B400;
    --color-secondary-hover: #D99A00;

    --spacing: .25rem;

    --font-weight-bold: 700;
    --font-weight-semibold: 600;

    --text-h1: clamp(20px, 4vw, 27px);
    --text-h2: clamp(16px, 3vw, 21px);
    --text-h3: clamp(14px, 2.5vw, 17px);
    --text-base: clamp(12px, 2vw, 14px);
    --text-button: clamp(13px, 2vw, 15px);

    --main-header-height: 70px;
    --box-shadow: 6px 10px 10px 0 color-mix(in srgb, var(--color-bg) 50%, transparent);
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    font-family: Inter, sans-serif;
    font-size: var(--text-base);
    color: var(--color-base);
    line-height: 1.5;
    background-color: var(--color-bg);
}

body:has(dialog[open]) {
    overflow: hidden;
}

p {
    font-size: var(--text-base);
    color: var(--color-base);
}

h1 {
    font-size: var(--text-h1);
    color: var(--color-h1);
}

h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h2);
    color: var(--color-base);
}

h3 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-h3);
    color: var(--color-base2);
}

a {
    color: var(--color-h1);
    text-decoration: none;
}