/* Контейнер всего экрана */
.watch-container {
    max-width: 1440px;
    display: flex;
    gap: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 6);
    padding-inline: calc(var(--spacing) * 6);
    flex-grow: 1;
    height: calc(100vh - var(--main-header-height));
}

/* Плеер */
#watch-player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#watch-player video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Чат */
#watch-chat {
    width: 300px;
}

#watch-chat>div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

#watch-chat h2 {
    position: relative;
    box-shadow: var(--box-shadow);
    padding-block-end: calc(var(--spacing) * 1);
}

/* Список сообщений */
.watch-chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-block-start: calc(var(--spacing) * 2);
}

.watch-chat-message:first-child {
    margin-block-start: 0;
}

.watch-chat-message {
    margin-block: calc(var(--spacing) * 3);
    word-wrap: break-word;
}

.watch-chat-sender {
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
}

.watch-chat-message-author {
    color: var(--color-primary);
}

/* Форма ввода */
.watch-chat-form {
    display: flex;
}

.watch-chat-form input {
    flex-grow: 1;
    border: 1px solid var(--color-border);
    background-color: transparent;
    color: var(--color-base);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 3);
}

.watch-chat-form button {
    cursor: pointer;
    min-width: 45px;
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h2);
}

@media (max-width: 1024px) {
    .watch-container {
        flex-direction: column;
        padding: 0;
    }

    #watch-player {
        height: 40vh;
    }

    #watch-chat {
        width: 100%;
        height: 60vh;
        padding-inline: calc(var(--spacing) * 3);
        padding-block-end: calc(var(--spacing) * 3);
    }

    #watch-chat h2 {
        display: none;
    }
}