dialog {
    align-self: center;
    justify-self: center;
    border: none;
    padding: 0;
    max-width: 860px;
    width: 90%;
    background-color: var(--color-bg);
    color: var(--color-base);
    box-shadow: 6px 10px 10px 0 color-mix(in srgb, var(--color-bg) 50%, transparent);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.movie-modal-header {
    display: flex;
    align-items: center;
    height: 70px;
    padding-inline: calc(var(--spacing) * 5);
}

.movie-modal-header h3 {
    flex-grow: 1;
}

.movie-modal-close-btn {
    background: none;
    border: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h2);
    color: var(--color-base);
    cursor: pointer;
}

.movie-modal-poster img {
    width: 400px;
    object-fit: cover;
}

.movie-modal-body {
    display: flex;
}

.movie-modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    padding-inline: calc(var(--spacing) * 6);
    padding-block-end: calc(var(--spacing) * 6);
}

.movie-modal-content>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
}

.movie-modal-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
}

.movie-modal-content li {
    display: flex;
}

.movie-modal-content li>span:nth-child(1) {
    width: 160px;
    flex: 0 0 auto;
}

.movie-modal-content menu {
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing) * 7);
}

@media (max-width: 1024px) {
    .movie-modal-header {
        height: 50px;
        padding-inline: calc(var(--spacing) * 4);
    }

    .movie-modal-content {
        padding-block-end: calc(var(--spacing) * 2);
    }

    .movie-modal-content li>span:nth-child(1) {
        width: 140px;
    }

    .movie-modal-content menu {
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
    }
}

@media (max-width: 600px) {
    dialog {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .movie-modal-header {
        padding-inline: calc(var(--spacing) * 4);
        position: relative;
        width: 100vw;
        background-color: var(--color-bg);
        box-shadow: 6px 10px 10px 0 color-mix(in srgb, var(--color-bg) 50%, transparent);
    }

    .movie-modal-body {
        flex-direction: column;
        overflow-y: auto;
        height: calc(100vh - 120px);
    }

    .movie-modal-content>div {
        padding-block: calc(var(--spacing) * 3) calc(var(--spacing) * 10);
    }

    .movie-modal-poster img {
        object-fit: cover;
        width: 100%;
    }

    .movie-modal-content menu {
        position: fixed;
        bottom: calc(var(--spacing) * 3);
        flex-direction: row;
        left: 0;
        width: 100vw;
    }
}