.header {
    position: sticky;
    top: calc(var(--spacing) * -3);
    background-color: var(--color-bg);
    padding-block: calc(var(--spacing) * 6) calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 6);
    box-shadow: var(--box-shadow);
    z-index: 1;
    height: var(--main-header-height);
}