/* Плеер */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.player {
    height: 100%;
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .player {
        height: 40vh;
    }
}